:root{
    /* --main:#4f3124; */
    --main:#362219;
    --sec:white;
    --acc:#434532;
    --fontBody:'Hind Madurai', sans-serif;
    --fontTitle:'Playfair Display',serif;

}
::selection {
    color: white;
    background: var(--main);
}
body {
    /* font-family: 'Hind Madurai', sans-serif; */
    font-family: var(--fontTitle);
    color:white;
}
.bodyContainer{
    width:100%;
    margin:0 auto;

}

.headerImgSpace {
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.475), transparent 60%);
    
    

}
@media screen and (min-width:670px){
    .headerImgSpace{
        height: 85vh;
    }
    .bodyContainer{
        width:90%;
        margin:0 auto;
    
    }
}
/* NAV ****************************************+ */
.navbar-brand{
    font-family: var(--fontTitle);
}
nav{
    font-family: var(--fontBody);
    
    
}
.nav-link{
    color:rgba(255, 255, 255, 0.8) !important;
}
.nav-link:focus, .nav-link:hover {
    color: var(--sec) !important;

  }
/* DROPDOWN ITEMS */
.dropdown-menu{
    border-radius:0;
    background-color: var(--acc);
}
.dropdown-item{

    color: rgba(255, 255, 255, 0.8)!important;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color:#4f3124;
    color: white !important;
}
.btn-outline-light{
    border-radius: 0;
}




/* immagine absolute */
.imgAbsolute{
    z-index: -1;
    position:absolute;
    width:100%;
    height:100%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  
    
}
.imgAbsolute img{
    width:100%;
    height: 100%;
    object-fit: cover;

}
.testoTitolo{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
}

h1{
    font-size: 3.5rem;
    margin-top:0.25em;
    transition: transform 250ms ease-in-out;
}
h1:hover{
    transform: translateY(-5px);
}
.headerImgSpace span{
    font-style: italic;
}

/* carosello */
.current{
    width:100%;
    height:100%;
    display: block !important;
}
.slide {
    width: 100%;
    height: 100%;
    display: none;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.backgroundCustom {
    height: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.347),transparent,rgba(0, 0, 0, 0.347)) */
    
}
/* questa è la classe che contiene il carosello */
.imgTextContainer {

    width: 100%;
    height: 100%;
    
}

/* FRECCETTE */

.buttons {
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    z-index:5;
    height: 50px;
    width: 50px;
    font-size:2rem;
    text-align: center;
    
}

.next {
    top: 50%;
    left: 97.5%;
    transform: translate(-50%, -50%);
    
    

}
.next:hover{
    left: 98%;
}


.previous {
    top: 50%;
    left: 2.5%;
    transform: translate(-50%, -50%);
    

}
.previous:hover{
    left:2%;
}
.down{
    bottom: 0.5%;
    left:50%;
    transform: translate(-50%,-50%);
    

    
}
.down:hover{
    bottom:0;
}
.next:hover,
.previous:hover,
.down:hover {
    color: rgba(255, 255, 255,1);
    cursor: pointer;
}
@media screen and (max-width:670px){
    .previous,.next{
        display:none;
    }
}

/* MAIN */


/* SEZIONE CARD QUADRATE */

.squared{
    width:100%;
    height: 100%;
}
.hoverbox-content{
    opacity:0.5;
    transition: opacity 250ms ease-in-out;
}
:hover.hoverbox-content{
    opacity:1;
    
    
}
.hoverbox-primary-content{
    transition: opacity 250ms ease-in-out;
}

:hover.hoverbox-primary-content{
    border:solid white 1px;
    
}

/* SEZIONE TESTO 1 */
.testo1{
    color: var(--main);
}

h3 span{
    font-style: italic;
}
.paragrafo{
    text-align: justify;
    font-family: var(--fontBody);
}
.btn-outline-dark{
    border-radius: 0;
    font-family: var(--fontBody);
    color:var(--main);
}
:hover.btn-outline-dark{
    background-color: #4f3124;
}