:root{
    --main:#4f3124;
    /* --sec:;
    --acc:; */
    --fontBody:'Hind Madurai';
    --fontTitle:'Playfair Display'

}
body {
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Playfair Display', serif;
    color:white;
}
.bodyContainer{
    width:100%;
    margin:0 auto;

}

.headerImgSpace {
    width:100%;
    height:100vh;
    background: linear-gradient(black,transparent,black), url(/./media/tim-arnold-eQpBGrg3Cp0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
@media screen and (min-width:670px){
    .headerImgSpace{
        height: 85vh;
    }
    .bodyContainer{
        width:90%;
        margin:0 auto;
    
    }
}
.navbar-brand{
    font-family: var(--fontTitle);
}
nav{
    font-family: var(--fontBody);
}

.testoTitolo{
    justify-self: center;
    flex:1;
}

h1{
    font-size: 4rem;
    margin-top:0.25em;
}
.headerImgSpace span{
    font-style: italic;
}